---
###################################################################################################

aws:
  region: {{.Env.EXTERNAL_DNS_AWS_REGION}}
  zoneType: public
  accessKey: {{.Env.EXTERNAL_DNS_AWS_ACCESS_KEY}}
  secretKey: {{.Env.EXTERNAL_DNS_AWS_SECRET_KEY}}

###################################################################################################

rbac:
  create: {{.Env.EXTERNAL_DNS_RBAC}}

###################################################################################################

policy: {{.Env.EXTERNAL_DNS_POLICY}}

###################################################################################################

provider: aws

###################################################################################################

resources:
  requests:
    cpu: {{.Env.EXTERNAL_DNS_RESOURCE_CPU}}
    memory: {{.Env.EXTERNAL_DNS_RESOURCE_MEMORY}}
  limits:
    cpu: {{.Env.EXTERNAL_DNS_RESOURCE_CPU}}
    memory: {{.Env.EXTERNAL_DNS_RESOURCE_MEMORY}}

###################################################################################################

domainFilters: [ {{.Env.EXTERNAL_DNS_DOMAIN_FILTERS}} ]

###################################################################################################

annotationFilter: {{.Env.EXTERNAL_DNS_PUBLIC_ANNOTATION_FILTER}}

###################################################################################################
...
