#!/bin/bash
[[ -n "${DEBUG}" ]] && set -x

###################################################################################################

helm delete --purge '{{ if (has (datasource "data") "EXTERNAL_DNS_PRIVATE_RELEASE") }}{{ (datasource "data").EXTERNAL_DNS_PRIVATE_RELEASE }}{{ else }}{{ .Env.EXTERNAL_DNS_PRIVATE_RELEASE }}{{ end }}'
helm delete --purge '{{ if (has (datasource "data") "EXTERNAL_DNS_PUBLIC_RELEASE") }}{{ (datasource "data").EXTERNAL_DNS_PUBLIC_RELEASE }}{{ else }}{{ .Env.EXTERNAL_DNS_PUBLIC_RELEASE }}{{ end }}'

###################################################################################################

kubectl delete --wait=true 'namespace/{{ if (has (datasource "data") "EXTERNAL_DNS_NAMESPACE") }}{{ (datasource "data").EXTERNAL_DNS_NAMESPACE }}{{ else }}{{ .Env.EXTERNAL_DNS_NAMESPACE }}{{ end }}'

###################################################################################################

exit 0

###################################################################################################
