#!/bin/bash
[[ -n "${DEBUG}" ]] && set -x

###################################################################################################

[[ -n "${1}" ]] && sleep "${1}"

###################################################################################################

helm delete --purge '{{.Env.PUBLIC_RELEASE}}'
helm delete --purge '{{.Env.PRIVATE_RELEASE}}'

###################################################################################################

kubectl delete --wait=true namespace '{{.Env.NAMESPACE}}'

###################################################################################################

exit 0

###################################################################################################
