#!/bin/bash
[[ -n "${DEBUG}" ]] && set -x

###################################################################################################

[[ -n "${1}" ]] && sleep "${1}"

###################################################################################################

helm delete --purge '{{.Env.EXTERNAL_DNS_PUBLIC_RELEASE}}'
helm delete --purge '{{.Env.EXTERNAL_DNS_PRIVATE_RELEASE}}'

###################################################################################################

kubectl delete --wait=true namespace '{{.Env.EXTERNAL_DNS_NAMESPACE}}'

###################################################################################################

exit 0

###################################################################################################
