#!/bin/bash -e
set -o pipefail
[[ -n "${DEBUG}" ]] && set -x

###################################################################################################

BASE="$(dirname "${BASH_SOURCE[0]}")"

###################################################################################################

[[ $(kubectl get customresourcedefinitions --output=custom-columns=:.metadata.name | grep monitoring.coreos.com | wc -l | awk '{print $1}') -eq 0 ]] && CREATE_CUSTOM_RESOURCE=true || CREATE_CUSTOM_RESOURCE=false

###################################################################################################

helm upgrade monitoring stable/prometheus-operator --install --debug --namespace monitoring --version '{{ if (has (datasource "data") "MONITORING_PROMETHEUS_OPERATOR_VERSION") }}{{ (datasource "data").MONITORING_PROMETHEUS_OPERATOR_VERSION }}{{ else }}{{ .Env.MONITORING_PROMETHEUS_OPERATOR_VERSION }}{{ end }}' --values "${BASE}/values.yaml" --set "prometheusOperator.createCustomResource=${CREATE_CUSTOM_RESOURCE}"

###################################################################################################

kubectl apply --record=true --wait=true --filename="${BASE}/service.yaml"

###################################################################################################
