#!/bin/bash
[[ -n "${DEBUG}" ]] && set -x

###################################################################################################

BASE="$(dirname "${BASH_SOURCE[0]}")"

###################################################################################################

helm delete --purge '{{ if (has (datasource "data") "MONITORING_RELEASE") }}{{ (datasource "data").MONITORING_RELEASE }}{{ else }}{{ .Env.MONITORING_RELEASE }}{{ end }}'

###################################################################################################

kubectl delete --wait=true 'namespace/{{ if (has (datasource "data") "MONITORING_NAMESPACE") }}{{ (datasource "data").MONITORING_NAMESPACE }}{{ else }}{{ .Env.MONITORING_NAMESPACE }}{{ end }}'

###################################################################################################

kubectl delete --wait=true --filename="${BASE}/service.yaml"

###################################################################################################

kubectl delete --wait=true --namespace kube-system service/prometheus-kubelet
kubectl delete --wait=true --namespace kube-system service/prometheus-kube-dns

###################################################################################################

exit 0

###################################################################################################
