#!/bin/bash
[[ -n "${DEBUG}" ]] && set -x

###################################################################################################

BASE="$(dirname "${BASH_SOURCE[0]}")"

###################################################################################################

kubectl delete --wait=true --filename="${BASE}/service.yaml"

###################################################################################################

helm delete --purge '{{ if (has (datasource "data") "MONITORING_RELEASE") }}{{ (datasource "data").MONITORING_RELEASE }}{{ else }}{{ .Env.MONITORING_RELEASE }}{{ end }}'

###################################################################################################

kubectl delete --wait=true 'namespace/{{ if (has (datasource "data") "MONITORING_NAMESPACE") }}{{ (datasource "data").MONITORING_NAMESPACE }}{{ else }}{{ .Env.MONITORING_NAMESPACE }}{{ end }}'

###################################################################################################

kubectl delete --wait=true --namespace '{{ if (has (datasource "data") "MONITORING_KUBELET_NAMESPACE") }}{{ (datasource "data").MONITORING_KUBELET_NAMESPACE }}{{ else }}{{ .Env.MONITORING_KUBELET_NAMESPACE }}{{ end }}' 'service/{{ if (has (datasource "data") "MONITORING_NAME") }}{{ (datasource "data").MONITORING_NAME }}{{ else }}{{ .Env.MONITORING_NAME }}{{ end }}-kubelet'
kubectl delete --wait=true --namespace '{{ if (has (datasource "data") "MONITORING_KUBEDNS_NAMESPACE") }}{{ (datasource "data").MONITORING_KUBEDNS_NAMESPACE }}{{ else }}{{ .Env.MONITORING_KUBEDNS_NAMESPACE }}{{ end }}' 'service/{{ if (has (datasource "data") "MONITORING_NAME") }}{{ (datasource "data").MONITORING_NAME }}{{ else }}{{ .Env.MONITORING_NAME }}{{ end }}-kube-dns'

###################################################################################################

exit 0

###################################################################################################
