---
###################################################################################################

coreDns:
  enabled: {{ if (has (datasource "data") "MONITORING_COREDNS") }}{{ (datasource "data").MONITORING_COREDNS }}{{ else }}{{ .Env.MONITORING_COREDNS }}{{ end }}

###################################################################################################

grafana:
  ingress:
    tls:
      - hosts: [ {{ if (has (datasource "data") "MONITORING_GRAFANA_WORD") }}{{ (datasource "data").MONITORING_GRAFANA_WORD }}{{ else }}{{ .Env.MONITORING_GRAFANA_WORD }}{{ end }}.{{ if (has (datasource "data") "MONITORING_NAMESPACE") }}{{ (datasource "data").MONITORING_NAMESPACE }}{{ else }}{{ .Env.MONITORING_NAMESPACE }}{{ end }}.{{ if (has (datasource "data") "MONITORING_DOMAIN") }}{{ (datasource "data").MONITORING_DOMAIN }}{{ else }}{{ .Env.MONITORING_DOMAIN }}{{ end }} ]
        secretName: {{ if (has (datasource "data") "MONITORING_GRAFANA_WORD") }}{{ (datasource "data").MONITORING_GRAFANA_WORD }}{{ else }}{{ .Env.MONITORING_GRAFANA_WORD }}{{ end }}.{{ if (has (datasource "data") "MONITORING_NAMESPACE") }}{{ (datasource "data").MONITORING_NAMESPACE }}{{ else }}{{ .Env.MONITORING_NAMESPACE }}{{ end }}.{{ if (has (datasource "data") "MONITORING_DOMAIN") }}{{ (datasource "data").MONITORING_DOMAIN }}{{ else }}{{ .Env.MONITORING_DOMAIN }}{{ end }}
    hosts: [ {{ if (has (datasource "data") "MONITORING_GRAFANA_WORD") }}{{ (datasource "data").MONITORING_GRAFANA_WORD }}{{ else }}{{ .Env.MONITORING_GRAFANA_WORD }}{{ end }}.{{ if (has (datasource "data") "MONITORING_NAMESPACE") }}{{ (datasource "data").MONITORING_NAMESPACE }}{{ else }}{{ .Env.MONITORING_NAMESPACE }}{{ end }}.{{ if (has (datasource "data") "MONITORING_DOMAIN") }}{{ (datasource "data").MONITORING_DOMAIN }}{{ else }}{{ .Env.MONITORING_DOMAIN }}{{ end }} ]
    enabled: {{ if (has (datasource "data") "MONITORING_GRAFANA") }}{{ (datasource "data").MONITORING_GRAFANA }}{{ else }}{{ .Env.MONITORING_GRAFANA }}{{ end }}
    annotations:
      external-dns/public: '{{ if (has (datasource "data") "MONITORING_GRAFANA_EXTERNAL_DNS_PUBLIC") }}{{ (datasource "data").MONITORING_GRAFANA_EXTERNAL_DNS_PUBLIC }}{{ else }}{{ .Env.MONITORING_GRAFANA_EXTERNAL_DNS_PUBLIC }}{{ end }}'
      kubernetes.io/ingress.class: {{ if (has (datasource "data") "MONITORING_GRAFANA_INGRESS_CLASS") }}{{ (datasource "data").MONITORING_GRAFANA_INGRESS_CLASS }}{{ else }}{{ .Env.MONITORING_GRAFANA_INGRESS_CLASS }}{{ end }}
      certmanager.k8s.io/cluster-issuer: {{ if (has (datasource "data") "MONITORING_GRAFANA_CERTMANAGER_CLUSTER_ISSUER") }}{{ (datasource "data").MONITORING_GRAFANA_CERTMANAGER_CLUSTER_ISSUER }}{{ else }}{{ .Env.MONITORING_GRAFANA_CERTMANAGER_CLUSTER_ISSUER }}{{ end }}
      certmanager.k8s.io/acme-challenge-type: {{ if (has (datasource "data") "MONITORING_GRAFANA_CERTMANAGER_ACME_CHALLENGE_TYPE") }}{{ (datasource "data").MONITORING_GRAFANA_CERTMANAGER_ACME_CHALLENGE_TYPE }}{{ else }}{{ .Env.MONITORING_GRAFANA_CERTMANAGER_ACME_CHALLENGE_TYPE }}{{ end }}
      certmanager.k8s.io/acme-dns01-provider: {{ if (has (datasource "data") "MONITORING_GRAFANA_CERTMANAGER_ACME_DNS01_PROVIDER") }}{{ (datasource "data").MONITORING_GRAFANA_CERTMANAGER_ACME_DNS01_PROVIDER }}{{ else }}{{ .Env.MONITORING_GRAFANA_CERTMANAGER_ACME_DNS01_PROVIDER }}{{ end }}
      external-dns.alpha.kubernetes.io/hostname: {{ if (has (datasource "data") "MONITORING_GRAFANA_WORD") }}{{ (datasource "data").MONITORING_GRAFANA_WORD }}{{ else }}{{ .Env.MONITORING_GRAFANA_WORD }}{{ end }}.{{ if (has (datasource "data") "MONITORING_NAMESPACE") }}{{ (datasource "data").MONITORING_NAMESPACE }}{{ else }}{{ .Env.MONITORING_NAMESPACE }}{{ end }}.{{ if (has (datasource "data") "MONITORING_DOMAIN") }}{{ (datasource "data").MONITORING_DOMAIN }}{{ else }}{{ .Env.MONITORING_DOMAIN }}{{ end }}.
  plugins:
    - grafana-clock-panel
    - vonage-status-panel
    - briangann-gauge-panel
    - grafana-kubernetes-app
    - grafana-piechart-panel
    - grafana-polystat-panel
    - grafana-worldmap-panel
    - snuids-trafficlights-panel
  sidecar:
    resources:
      requests:
        cpu: {{ if (has (datasource "data") "MONITORING_GRAFANA_SIDECAR_RESOURCE_CPU_MIN") }}{{ (datasource "data").MONITORING_GRAFANA_SIDECAR_RESOURCE_CPU_MIN }}{{ else }}{{ .Env.MONITORING_GRAFANA_SIDECAR_RESOURCE_CPU_MIN }}{{ end }}
        memory: {{ if (has (datasource "data") "MONITORING_GRAFANA_SIDECAR_RESOURCE_MEMORY") }}{{ (datasource "data").MONITORING_GRAFANA_SIDECAR_RESOURCE_MEMORY }}{{ else }}{{ .Env.MONITORING_GRAFANA_SIDECAR_RESOURCE_MEMORY }}{{ end }}
      limits:
        cpu: {{ if (has (datasource "data") "MONITORING_GRAFANA_SIDECAR_RESOURCE_CPU_MAX") }}{{ (datasource "data").MONITORING_GRAFANA_SIDECAR_RESOURCE_CPU_MAX }}{{ else }}{{ .Env.MONITORING_GRAFANA_SIDECAR_RESOURCE_CPU_MAX }}{{ end }}
        memory: {{ if (has (datasource "data") "MONITORING_GRAFANA_SIDECAR_RESOURCE_MEMORY") }}{{ (datasource "data").MONITORING_GRAFANA_SIDECAR_RESOURCE_MEMORY }}{{ else }}{{ .Env.MONITORING_GRAFANA_SIDECAR_RESOURCE_MEMORY }}{{ end }}
  adminUser: {{ if (has (datasource "data") "MONITORING_GRAFANA_ADMIN_USER") }}{{ (datasource "data").MONITORING_GRAFANA_ADMIN_USER }}{{ else }}{{ .Env.MONITORING_GRAFANA_ADMIN_USER }}{{ end }}
  resources:
    requests:
      cpu: {{ if (has (datasource "data") "MONITORING_GRAFANA_RESOURCE_CPU_MIN") }}{{ (datasource "data").MONITORING_GRAFANA_RESOURCE_CPU_MIN }}{{ else }}{{ .Env.MONITORING_GRAFANA_RESOURCE_CPU_MIN }}{{ end }}
      memory: {{ if (has (datasource "data") "MONITORING_GRAFANA_RESOURCE_MEMORY") }}{{ (datasource "data").MONITORING_GRAFANA_RESOURCE_MEMORY }}{{ else }}{{ .Env.MONITORING_GRAFANA_RESOURCE_MEMORY }}{{ end }}
    limits:
      cpu: {{ if (has (datasource "data") "MONITORING_GRAFANA_RESOURCE_CPU_MAX") }}{{ (datasource "data").MONITORING_GRAFANA_RESOURCE_CPU_MAX }}{{ else }}{{ .Env.MONITORING_GRAFANA_RESOURCE_CPU_MAX }}{{ end }}
      memory: {{ if (has (datasource "data") "MONITORING_GRAFANA_RESOURCE_MEMORY") }}{{ (datasource "data").MONITORING_GRAFANA_RESOURCE_MEMORY }}{{ else }}{{ .Env.MONITORING_GRAFANA_RESOURCE_MEMORY }}{{ end }}
  persistence:
    size: {{ if (has (datasource "data") "MONITORING_GRAFANA_PERSISTENCE_SIZE") }}{{ (datasource "data").MONITORING_GRAFANA_PERSISTENCE_SIZE }}{{ else }}{{ .Env.MONITORING_GRAFANA_PERSISTENCE_SIZE }}{{ end }}
    enabled: {{ if (has (datasource "data") "MONITORING_GRAFANA_PERSISTENCE") }}{{ (datasource "data").MONITORING_GRAFANA_PERSISTENCE }}{{ else }}{{ .Env.MONITORING_GRAFANA_PERSISTENCE }}{{ end }}
    accessModes: [ {{ if (has (datasource "data") "MONITORING_GRAFANA_PERSISTENCE_ACCESS_MODE") }}{{ (datasource "data").MONITORING_GRAFANA_PERSISTENCE_ACCESS_MODE }}{{ else }}{{ .Env.MONITORING_GRAFANA_PERSISTENCE_ACCESS_MODE }}{{ end }} ]
    storageClassName: {{ if (has (datasource "data") "MONITORING_GRAFANA_PERSISTENCE_STORAGE_CLASS") }}{{ (datasource "data").MONITORING_GRAFANA_PERSISTENCE_STORAGE_CLASS }}{{ else }}{{ .Env.MONITORING_GRAFANA_PERSISTENCE_STORAGE_CLASS }}{{ end }}
  adminPassword: {{ if (has (datasource "data") "MONITORING_GRAFANA_ADMIN_PASSWORD") }}{{ (datasource "data").MONITORING_GRAFANA_ADMIN_PASSWORD }}{{ else }}{{ .Env.MONITORING_GRAFANA_ADMIN_PASSWORD }}{{ end }}
  defaultDashboardsEnabled: {{ if (has (datasource "data") "MONITORING_GRAFANA_DEFAULT_DASHBOARDS") }}{{ (datasource "data").MONITORING_GRAFANA_DEFAULT_DASHBOARDS }}{{ else }}{{ .Env.MONITORING_GRAFANA_DEFAULT_DASHBOARDS }}{{ end }}

###################################################################################################

kubeDns:
  enabled: {{ if (has (datasource "data") "MONITORING_KUBEDNS") }}{{ (datasource "data").MONITORING_KUBEDNS }}{{ else }}{{ .Env.MONITORING_KUBEDNS }}{{ end }}

###################################################################################################

kubelet:
  namespace: {{ if (has (datasource "data") "MONITORING_KUBELET_NAMESPACE") }}{{ (datasource "data").MONITORING_KUBELET_NAMESPACE }}{{ else }}{{ .Env.MONITORING_KUBELET_NAMESPACE }}{{ end }}

###################################################################################################

kubeEtcd:
  enabled: {{ if (has (datasource "data") "MONITORING_KUBEETCD") }}{{ (datasource "data").MONITORING_KUBEETCD }}{{ else }}{{ .Env.MONITORING_KUBEETCD }}{{ end }}

###################################################################################################

prometheus:
  ingress:
    tls:
      - hosts: [ {{ if (has (datasource "data") "MONITORING_PROMETHEUS_WORD") }}{{ (datasource "data").MONITORING_PROMETHEUS_WORD }}{{ else }}{{ .Env.MONITORING_PROMETHEUS_WORD }}{{ end }}.{{ if (has (datasource "data") "MONITORING_NAMESPACE") }}{{ (datasource "data").MONITORING_NAMESPACE }}{{ else }}{{ .Env.MONITORING_NAMESPACE }}{{ end }}.{{ if (has (datasource "data") "MONITORING_DOMAIN") }}{{ (datasource "data").MONITORING_DOMAIN }}{{ else }}{{ .Env.MONITORING_DOMAIN }}{{ end }} ]
        secretName: {{ if (has (datasource "data") "MONITORING_PROMETHEUS_WORD") }}{{ (datasource "data").MONITORING_PROMETHEUS_WORD }}{{ else }}{{ .Env.MONITORING_PROMETHEUS_WORD }}{{ end }}.{{ if (has (datasource "data") "MONITORING_NAMESPACE") }}{{ (datasource "data").MONITORING_NAMESPACE }}{{ else }}{{ .Env.MONITORING_NAMESPACE }}{{ end }}.{{ if (has (datasource "data") "MONITORING_DOMAIN") }}{{ (datasource "data").MONITORING_DOMAIN }}{{ else }}{{ .Env.MONITORING_DOMAIN }}{{ end }}
    hosts: [ {{ if (has (datasource "data") "MONITORING_PROMETHEUS_WORD") }}{{ (datasource "data").MONITORING_PROMETHEUS_WORD }}{{ else }}{{ .Env.MONITORING_PROMETHEUS_WORD }}{{ end }}.{{ if (has (datasource "data") "MONITORING_NAMESPACE") }}{{ (datasource "data").MONITORING_NAMESPACE }}{{ else }}{{ .Env.MONITORING_NAMESPACE }}{{ end }}.{{ if (has (datasource "data") "MONITORING_DOMAIN") }}{{ (datasource "data").MONITORING_DOMAIN }}{{ else }}{{ .Env.MONITORING_DOMAIN }}{{ end }} ]
    enabled: {{ if (has (datasource "data") "MONITORING_PROMETHEUS") }}{{ (datasource "data").MONITORING_PROMETHEUS }}{{ else }}{{ .Env.MONITORING_PROMETHEUS }}{{ end }}
    annotations:
      external-dns/public: '{{ if (has (datasource "data") "MONITORING_PROMETHEUS_EXTERNAL_DNS_PUBLIC") }}{{ (datasource "data").MONITORING_PROMETHEUS_EXTERNAL_DNS_PUBLIC }}{{ else }}{{ .Env.MONITORING_PROMETHEUS_EXTERNAL_DNS_PUBLIC }}{{ end }}'
      kubernetes.io/ingress.class: {{ if (has (datasource "data") "MONITORING_PROMETHEUS_INGRESS_CLASS") }}{{ (datasource "data").MONITORING_PROMETHEUS_INGRESS_CLASS }}{{ else }}{{ .Env.MONITORING_PROMETHEUS_INGRESS_CLASS }}{{ end }}
      certmanager.k8s.io/cluster-issuer: {{ if (has (datasource "data") "MONITORING_PROMETHEUS_CERTMANAGER_CLUSTER_ISSUER") }}{{ (datasource "data").MONITORING_PROMETHEUS_CERTMANAGER_CLUSTER_ISSUER }}{{ else }}{{ .Env.MONITORING_PROMETHEUS_CERTMANAGER_CLUSTER_ISSUER }}{{ end }}
      certmanager.k8s.io/acme-challenge-type: {{ if (has (datasource "data") "MONITORING_PROMETHEUS_CERTMANAGER_ACME_CHALLENGE_TYPE") }}{{ (datasource "data").MONITORING_PROMETHEUS_CERTMANAGER_ACME_CHALLENGE_TYPE }}{{ else }}{{ .Env.MONITORING_PROMETHEUS_CERTMANAGER_ACME_CHALLENGE_TYPE }}{{ end }}
      certmanager.k8s.io/acme-dns01-provider: {{ if (has (datasource "data") "MONITORING_PROMETHEUS_CERTMANAGER_ACME_DNS01_PROVIDER") }}{{ (datasource "data").MONITORING_PROMETHEUS_CERTMANAGER_ACME_DNS01_PROVIDER }}{{ else }}{{ .Env.MONITORING_PROMETHEUS_CERTMANAGER_ACME_DNS01_PROVIDER }}{{ end }}
      external-dns.alpha.kubernetes.io/hostname: {{ if (has (datasource "data") "MONITORING_PROMETHEUS_WORD") }}{{ (datasource "data").MONITORING_PROMETHEUS_WORD }}{{ else }}{{ .Env.MONITORING_PROMETHEUS_WORD }}{{ end }}.{{ if (has (datasource "data") "MONITORING_NAMESPACE") }}{{ (datasource "data").MONITORING_NAMESPACE }}{{ else }}{{ .Env.MONITORING_NAMESPACE }}{{ end }}.{{ if (has (datasource "data") "MONITORING_DOMAIN") }}{{ (datasource "data").MONITORING_DOMAIN }}{{ else }}{{ .Env.MONITORING_DOMAIN }}{{ end }}.
  prometheusSpec:
    replicas: {{ if (has (datasource "data") "MONITORING_PROMETHEUS_REPLICAS") }}{{ (datasource "data").MONITORING_PROMETHEUS_REPLICAS }}{{ else }}{{ .Env.MONITORING_PROMETHEUS_REPLICAS }}{{ end }}
    resources:
      requests:
        cpu: {{ if (has (datasource "data") "MONITORING_PROMETHEUS_RESOURCE_CPU_MIN") }}{{ (datasource "data").MONITORING_PROMETHEUS_RESOURCE_CPU_MIN }}{{ else }}{{ .Env.MONITORING_PROMETHEUS_RESOURCE_CPU_MIN }}{{ end }}
        memory: {{ if (has (datasource "data") "MONITORING_PROMETHEUS_RESOURCE_MEMORY") }}{{ (datasource "data").MONITORING_PROMETHEUS_RESOURCE_MEMORY }}{{ else }}{{ .Env.MONITORING_PROMETHEUS_RESOURCE_MEMORY }}{{ end }}
      limits:
        cpu: {{ if (has (datasource "data") "MONITORING_PROMETHEUS_RESOURCE_CPU_MAX") }}{{ (datasource "data").MONITORING_PROMETHEUS_RESOURCE_CPU_MAX }}{{ else }}{{ .Env.MONITORING_PROMETHEUS_RESOURCE_CPU_MAX }}{{ end }}
        memory: {{ if (has (datasource "data") "MONITORING_PROMETHEUS_RESOURCE_MEMORY") }}{{ (datasource "data").MONITORING_PROMETHEUS_RESOURCE_MEMORY }}{{ else }}{{ .Env.MONITORING_PROMETHEUS_RESOURCE_MEMORY }}{{ end }}
    retention: {{ if (has (datasource "data") "MONITORING_PROMETHEUS_RETENTION") }}{{ (datasource "data").MONITORING_PROMETHEUS_RETENTION }}{{ else }}{{ .Env.MONITORING_PROMETHEUS_RETENTION }}{{ end }}
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: {{ if (has (datasource "data") "MONITORING_PROMETHEUS_PERSISTENCE_STORAGE_CLASS") }}{{ (datasource "data").MONITORING_PROMETHEUS_PERSISTENCE_STORAGE_CLASS }}{{ else }}{{ .Env.MONITORING_PROMETHEUS_PERSISTENCE_STORAGE_CLASS }}{{ end }}
          accessModes: [ {{ if (has (datasource "data") "MONITORING_PROMETHEUS_PERSISTENCE_ACCESS_MODE") }}{{ (datasource "data").MONITORING_PROMETHEUS_PERSISTENCE_ACCESS_MODE }}{{ else }}{{ .Env.MONITORING_PROMETHEUS_PERSISTENCE_ACCESS_MODE }}{{ end }} ]
          resources:
            requests:
              storage: {{ if (has (datasource "data") "MONITORING_PROMETHEUS_PERSISTENCE_SIZE") }}{{ (datasource "data").MONITORING_PROMETHEUS_PERSISTENCE_SIZE }}{{ else }}{{ .Env.MONITORING_PROMETHEUS_PERSISTENCE_SIZE }}{{ end }}
    scrapeInterval: {{ if (has (datasource "data") "MONITORING_PROMETHEUS_SCRAPE_INTERVAL") }}{{ (datasource "data").MONITORING_PROMETHEUS_SCRAPE_INTERVAL }}{{ else }}{{ .Env.MONITORING_PROMETHEUS_SCRAPE_INTERVAL }}{{ end }}
    podAntiAffinity: {{ if (has (datasource "data") "MONITORING_PROMETHEUS_POD_ANTI_AFFINITY") }}{{ (datasource "data").MONITORING_PROMETHEUS_POD_ANTI_AFFINITY }}{{ else }}{{ .Env.MONITORING_PROMETHEUS_POD_ANTI_AFFINITY }}{{ end }}
    evaluationInterval: {{ if (has (datasource "data") "MONITORING_PROMETHEUS_EVALUATION_INTERVAL") }}{{ (datasource "data").MONITORING_PROMETHEUS_EVALUATION_INTERVAL }}{{ else }}{{ .Env.MONITORING_PROMETHEUS_EVALUATION_INTERVAL }}{{ end }}
    podDisruptionBudget:
      enabled: {{ if (has (datasource "data") "MONITORING_PROMETHEUS_POD_DISRUPTION_BUDGET") }}{{ (datasource "data").MONITORING_PROMETHEUS_POD_DISRUPTION_BUDGET }}{{ else }}{{ .Env.MONITORING_PROMETHEUS_POD_DISRUPTION_BUDGET }}{{ end }}
      maxUnavailable: {{ if (has (datasource "data") "MONITORING_PROMETHEUS_POD_DISRUPTION_BUDGET_MAX_UNAVAILABLE") }}{{ (datasource "data").MONITORING_PROMETHEUS_POD_DISRUPTION_BUDGET_MAX_UNAVAILABLE }}{{ else }}{{ .Env.MONITORING_PROMETHEUS_POD_DISRUPTION_BUDGET_MAX_UNAVAILABLE }}{{ end }}
    serviceMonitorSelector:
      {{ if (has (datasource "data") "MONITORING_PROMETHEUS_SERVICE_MONITOR_SELECTOR") }}{{ (datasource "data").MONITORING_PROMETHEUS_SERVICE_MONITOR_SELECTOR }}{{ else }}{{ .Env.MONITORING_PROMETHEUS_SERVICE_MONITOR_SELECTOR }}{{ end }}

###################################################################################################

alertmanager:
  ingress:
    tls:
      - hosts: [ {{ if (has (datasource "data") "MONITORING_ALERTMANAGER_WORD") }}{{ (datasource "data").MONITORING_ALERTMANAGER_WORD }}{{ else }}{{ .Env.MONITORING_ALERTMANAGER_WORD }}{{ end }}.{{ if (has (datasource "data") "MONITORING_NAMESPACE") }}{{ (datasource "data").MONITORING_NAMESPACE }}{{ else }}{{ .Env.MONITORING_NAMESPACE }}{{ end }}.{{ if (has (datasource "data") "MONITORING_DOMAIN") }}{{ (datasource "data").MONITORING_DOMAIN }}{{ else }}{{ .Env.MONITORING_DOMAIN }}{{ end }} ]
        secretName: {{ if (has (datasource "data") "MONITORING_ALERTMANAGER_WORD") }}{{ (datasource "data").MONITORING_ALERTMANAGER_WORD }}{{ else }}{{ .Env.MONITORING_ALERTMANAGER_WORD }}{{ end }}.{{ if (has (datasource "data") "MONITORING_NAMESPACE") }}{{ (datasource "data").MONITORING_NAMESPACE }}{{ else }}{{ .Env.MONITORING_NAMESPACE }}{{ end }}.{{ if (has (datasource "data") "MONITORING_DOMAIN") }}{{ (datasource "data").MONITORING_DOMAIN }}{{ else }}{{ .Env.MONITORING_DOMAIN }}{{ end }}
    hosts: [ {{ if (has (datasource "data") "MONITORING_ALERTMANAGER_WORD") }}{{ (datasource "data").MONITORING_ALERTMANAGER_WORD }}{{ else }}{{ .Env.MONITORING_ALERTMANAGER_WORD }}{{ end }}.{{ if (has (datasource "data") "MONITORING_NAMESPACE") }}{{ (datasource "data").MONITORING_NAMESPACE }}{{ else }}{{ .Env.MONITORING_NAMESPACE }}{{ end }}.{{ if (has (datasource "data") "MONITORING_DOMAIN") }}{{ (datasource "data").MONITORING_DOMAIN }}{{ else }}{{ .Env.MONITORING_DOMAIN }}{{ end }} ]
    enabled: {{ if (has (datasource "data") "MONITORING_ALERTMANAGER") }}{{ (datasource "data").MONITORING_ALERTMANAGER }}{{ else }}{{ .Env.MONITORING_ALERTMANAGER }}{{ end }}
    annotations:
      external-dns/public: '{{ if (has (datasource "data") "MONITORING_ALERTMANAGER_EXTERNAL_DNS_PUBLIC") }}{{ (datasource "data").MONITORING_ALERTMANAGER_EXTERNAL_DNS_PUBLIC }}{{ else }}{{ .Env.MONITORING_ALERTMANAGER_EXTERNAL_DNS_PUBLIC }}{{ end }}'
      kubernetes.io/ingress.class: {{ if (has (datasource "data") "MONITORING_ALERTMANAGER_INGRESS_CLASS") }}{{ (datasource "data").MONITORING_ALERTMANAGER_INGRESS_CLASS }}{{ else }}{{ .Env.MONITORING_ALERTMANAGER_INGRESS_CLASS }}{{ end }}
      certmanager.k8s.io/cluster-issuer: {{ if (has (datasource "data") "MONITORING_ALERTMANAGER_CERTMANAGER_CLUSTER_ISSUER") }}{{ (datasource "data").MONITORING_ALERTMANAGER_CERTMANAGER_CLUSTER_ISSUER }}{{ else }}{{ .Env.MONITORING_ALERTMANAGER_CERTMANAGER_CLUSTER_ISSUER }}{{ end }}
      certmanager.k8s.io/acme-challenge-type: {{ if (has (datasource "data") "MONITORING_ALERTMANAGER_CERTMANAGER_ACME_CHALLENGE_TYPE") }}{{ (datasource "data").MONITORING_ALERTMANAGER_CERTMANAGER_ACME_CHALLENGE_TYPE }}{{ else }}{{ .Env.MONITORING_ALERTMANAGER_CERTMANAGER_ACME_CHALLENGE_TYPE }}{{ end }}
      certmanager.k8s.io/acme-dns01-provider: {{ if (has (datasource "data") "MONITORING_ALERTMANAGER_CERTMANAGER_ACME_DNS01_PROVIDER") }}{{ (datasource "data").MONITORING_ALERTMANAGER_CERTMANAGER_ACME_DNS01_PROVIDER }}{{ else }}{{ .Env.MONITORING_ALERTMANAGER_CERTMANAGER_ACME_DNS01_PROVIDER }}{{ end }}
      external-dns.alpha.kubernetes.io/hostname: {{ if (has (datasource "data") "MONITORING_ALERTMANAGER_WORD") }}{{ (datasource "data").MONITORING_ALERTMANAGER_WORD }}{{ else }}{{ .Env.MONITORING_ALERTMANAGER_WORD }}{{ end }}.{{ if (has (datasource "data") "MONITORING_NAMESPACE") }}{{ (datasource "data").MONITORING_NAMESPACE }}{{ else }}{{ .Env.MONITORING_NAMESPACE }}{{ end }}.{{ if (has (datasource "data") "MONITORING_DOMAIN") }}{{ (datasource "data").MONITORING_DOMAIN }}{{ else }}{{ .Env.MONITORING_DOMAIN }}{{ end }}.
  alertmanagerSpec:
    replicas: {{ if (has (datasource "data") "MONITORING_ALERTMANAGER_REPLICAS") }}{{ (datasource "data").MONITORING_ALERTMANAGER_REPLICAS }}{{ else }}{{ .Env.MONITORING_ALERTMANAGER_REPLICAS }}{{ end }}
    resources:
      requests:
        cpu: {{ if (has (datasource "data") "MONITORING_ALERTMANAGER_RESOURCE_CPU_MIN") }}{{ (datasource "data").MONITORING_ALERTMANAGER_RESOURCE_CPU_MIN }}{{ else }}{{ .Env.MONITORING_ALERTMANAGER_RESOURCE_CPU_MIN }}{{ end }}
        memory: {{ if (has (datasource "data") "MONITORING_ALERTMANAGER_RESOURCE_MEMORY") }}{{ (datasource "data").MONITORING_ALERTMANAGER_RESOURCE_MEMORY }}{{ else }}{{ .Env.MONITORING_ALERTMANAGER_RESOURCE_MEMORY }}{{ end }}
      limits:
        cpu: {{ if (has (datasource "data") "MONITORING_ALERTMANAGER_RESOURCE_CPU_MAX") }}{{ (datasource "data").MONITORING_ALERTMANAGER_RESOURCE_CPU_MAX }}{{ else }}{{ .Env.MONITORING_ALERTMANAGER_RESOURCE_CPU_MAX }}{{ end }}
        memory: {{ if (has (datasource "data") "MONITORING_ALERTMANAGER_RESOURCE_MEMORY") }}{{ (datasource "data").MONITORING_ALERTMANAGER_RESOURCE_MEMORY }}{{ else }}{{ .Env.MONITORING_ALERTMANAGER_RESOURCE_MEMORY }}{{ end }}
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: {{ if (has (datasource "data") "MONITORING_ALERTMANAGER_PERSISTENCE_STORAGE_CLASS") }}{{ (datasource "data").MONITORING_ALERTMANAGER_PERSISTENCE_STORAGE_CLASS }}{{ else }}{{ .Env.MONITORING_ALERTMANAGER_PERSISTENCE_STORAGE_CLASS }}{{ end }}
          accessModes: [ {{ if (has (datasource "data") "MONITORING_ALERTMANAGER_PERSISTENCE_ACCESS_MODE") }}{{ (datasource "data").MONITORING_ALERTMANAGER_PERSISTENCE_ACCESS_MODE }}{{ else }}{{ .Env.MONITORING_ALERTMANAGER_PERSISTENCE_ACCESS_MODE }}{{ end }} ]
          resources:
            requests:
              storage: {{ if (has (datasource "data") "MONITORING_ALERTMANAGER_PERSISTENCE_SIZE") }}{{ (datasource "data").MONITORING_ALERTMANAGER_PERSISTENCE_SIZE }}{{ else }}{{ .Env.MONITORING_ALERTMANAGER_PERSISTENCE_SIZE }}{{ end }}
    podAntiAffinity: {{ if (has (datasource "data") "MONITORING_ALERTMANAGER_POD_ANTI_AFFINITY") }}{{ (datasource "data").MONITORING_ALERTMANAGER_POD_ANTI_AFFINITY }}{{ else }}{{ .Env.MONITORING_ALERTMANAGER_POD_ANTI_AFFINITY }}{{ end }}
    podDisruptionBudget:
      enabled: {{ if (has (datasource "data") "MONITORING_ALERTMANAGER_POD_DISRUPTION_BUDGET") }}{{ (datasource "data").MONITORING_ALERTMANAGER_POD_DISRUPTION_BUDGET }}{{ else }}{{ .Env.MONITORING_ALERTMANAGER_POD_DISRUPTION_BUDGET }}{{ end }}
      maxUnavailable: {{ if (has (datasource "data") "MONITORING_ALERTMANAGER_POD_DISRUPTION_BUDGET_MAX_UNAVAILABLE") }}{{ (datasource "data").MONITORING_ALERTMANAGER_POD_DISRUPTION_BUDGET_MAX_UNAVAILABLE }}{{ else }}{{ .Env.MONITORING_ALERTMANAGER_POD_DISRUPTION_BUDGET_MAX_UNAVAILABLE }}{{ end }}

###################################################################################################

defaultRules:
  create: {{ if (has (datasource "data") "MONITORING_ALERTMANAGER_DEFAULT_RULES") }}{{ (datasource "data").MONITORING_ALERTMANAGER_DEFAULT_RULES }}{{ else }}{{ .Env.MONITORING_ALERTMANAGER_DEFAULT_RULES }}{{ end }}

###################################################################################################

kubeScheduler:
  enabled: {{ if (has (datasource "data") "MONITORING_KUBESCHEDULER") }}{{ (datasource "data").MONITORING_KUBESCHEDULER }}{{ else }}{{ .Env.MONITORING_KUBESCHEDULER }}{{ end }}

###################################################################################################

nameOverride: {{ if (has (datasource "data") "MONITORING_NAME") }}{{ (datasource "data").MONITORING_NAME }}{{ else }}{{ .Env.MONITORING_NAME }}{{ end }}
fullnameOverride: {{ if (has (datasource "data") "MONITORING_NAME") }}{{ (datasource "data").MONITORING_NAME }}{{ else }}{{ .Env.MONITORING_NAME }}{{ end }}

###################################################################################################

kube-state-metrics:
  resources:
    requests:
      cpu: {{ if (has (datasource "data") "MONITORING_KUBE_STATE_METRICS_RESOURCE_CPU_MIN") }}{{ (datasource "data").MONITORING_KUBE_STATE_METRICS_RESOURCE_CPU_MIN }}{{ else }}{{ .Env.MONITORING_KUBE_STATE_METRICS_RESOURCE_CPU_MIN }}{{ end }}
      memory: {{ if (has (datasource "data") "MONITORING_KUBE_STATE_METRICS_RESOURCE_MEMORY") }}{{ (datasource "data").MONITORING_KUBE_STATE_METRICS_RESOURCE_MEMORY }}{{ else }}{{ .Env.MONITORING_KUBE_STATE_METRICS_RESOURCE_MEMORY }}{{ end }}
    limits:
      cpu: {{ if (has (datasource "data") "MONITORING_KUBE_STATE_METRICS_RESOURCE_CPU_MAX") }}{{ (datasource "data").MONITORING_KUBE_STATE_METRICS_RESOURCE_CPU_MAX }}{{ else }}{{ .Env.MONITORING_KUBE_STATE_METRICS_RESOURCE_CPU_MAX }}{{ end }}
      memory: {{ if (has (datasource "data") "MONITORING_KUBE_STATE_METRICS_RESOURCE_MEMORY") }}{{ (datasource "data").MONITORING_KUBE_STATE_METRICS_RESOURCE_MEMORY }}{{ else }}{{ .Env.MONITORING_KUBE_STATE_METRICS_RESOURCE_MEMORY }}{{ end }}

###################################################################################################

prometheusOperator:
  resources:
    requests:
      cpu: {{ if (has (datasource "data") "MONITORING_PROMETHEUS_OPERATOR_RESOURCE_CPU_MIN") }}{{ (datasource "data").MONITORING_PROMETHEUS_OPERATOR_RESOURCE_CPU_MIN }}{{ else }}{{ .Env.MONITORING_PROMETHEUS_OPERATOR_RESOURCE_CPU_MIN }}{{ end }}
      memory: {{ if (has (datasource "data") "MONITORING_PROMETHEUS_OPERATOR_RESOURCE_MEMORY") }}{{ (datasource "data").MONITORING_PROMETHEUS_OPERATOR_RESOURCE_MEMORY }}{{ else }}{{ .Env.MONITORING_PROMETHEUS_OPERATOR_RESOURCE_MEMORY }}{{ end }}
    limits:
      cpu: {{ if (has (datasource "data") "MONITORING_PROMETHEUS_OPERATOR_RESOURCE_CPU_MAX") }}{{ (datasource "data").MONITORING_PROMETHEUS_OPERATOR_RESOURCE_CPU_MAX }}{{ else }}{{ .Env.MONITORING_PROMETHEUS_OPERATOR_RESOURCE_CPU_MAX }}{{ end }}
      memory: {{ if (has (datasource "data") "MONITORING_PROMETHEUS_OPERATOR_RESOURCE_MEMORY") }}{{ (datasource "data").MONITORING_PROMETHEUS_OPERATOR_RESOURCE_MEMORY }}{{ else }}{{ .Env.MONITORING_PROMETHEUS_OPERATOR_RESOURCE_MEMORY }}{{ end }}

###################################################################################################

kubeControllerManager:
  enabled: {{ if (has (datasource "data") "MONITORING_KUBECONTROLLERMANAGER") }}{{ (datasource "data").MONITORING_KUBECONTROLLERMANAGER }}{{ else }}{{ .Env.MONITORING_KUBECONTROLLERMANAGER }}{{ end }}

###################################################################################################

prometheus-node-exporter:
  resources:
    requests:
      cpu: {{ if (has (datasource "data") "MONITORING_NODE_EXPORTER_RESOURCE_CPU_MIN") }}{{ (datasource "data").MONITORING_NODE_EXPORTER_RESOURCE_CPU_MIN }}{{ else }}{{ .Env.MONITORING_NODE_EXPORTER_RESOURCE_CPU_MIN }}{{ end }}
      memory: {{ if (has (datasource "data") "MONITORING_NODE_EXPORTER_RESOURCE_MEMORY") }}{{ (datasource "data").MONITORING_NODE_EXPORTER_RESOURCE_MEMORY }}{{ else }}{{ .Env.MONITORING_NODE_EXPORTER_RESOURCE_MEMORY }}{{ end }}
    limits:
      cpu: {{ if (has (datasource "data") "MONITORING_NODE_EXPORTER_RESOURCE_CPU_MAX") }}{{ (datasource "data").MONITORING_NODE_EXPORTER_RESOURCE_CPU_MAX }}{{ else }}{{ .Env.MONITORING_NODE_EXPORTER_RESOURCE_CPU_MAX }}{{ end }}
      memory: {{ if (has (datasource "data") "MONITORING_NODE_EXPORTER_RESOURCE_MEMORY") }}{{ (datasource "data").MONITORING_NODE_EXPORTER_RESOURCE_MEMORY }}{{ else }}{{ .Env.MONITORING_NODE_EXPORTER_RESOURCE_MEMORY }}{{ end }}
  extraHostVolumeMounts:
    - name: {{ if (has (datasource "data") "MONITORING_NODE_EXPORTER_ROOT_MOUNT_NAME") }}{{ (datasource "data").MONITORING_NODE_EXPORTER_ROOT_MOUNT_NAME }}{{ else }}{{ .Env.MONITORING_NODE_EXPORTER_ROOT_MOUNT_NAME }}{{ end }}
      hostPath: {{ if (has (datasource "data") "MONITORING_NODE_EXPORTER_ROOT_MOUNT_HOSTPATH") }}{{ (datasource "data").MONITORING_NODE_EXPORTER_ROOT_MOUNT_HOSTPATH }}{{ else }}{{ .Env.MONITORING_NODE_EXPORTER_ROOT_MOUNT_HOSTPATH }}{{ end }}
      readOnly: {{ if (has (datasource "data") "MONITORING_NODE_EXPORTER_ROOT_MOUNT_READONLY") }}{{ (datasource "data").MONITORING_NODE_EXPORTER_ROOT_MOUNT_READONLY }}{{ else }}{{ .Env.MONITORING_NODE_EXPORTER_ROOT_MOUNT_READONLY }}{{ end }}
      mountPath: {{ if (has (datasource "data") "MONITORING_NODE_EXPORTER_ROOT_MOUNT_MOUNTPATH") }}{{ (datasource "data").MONITORING_NODE_EXPORTER_ROOT_MOUNT_MOUNTPATH }}{{ else }}{{ .Env.MONITORING_NODE_EXPORTER_ROOT_MOUNT_MOUNTPATH }}{{ end }}

###################################################################################################
...
