###################################################################################################

coreDns:
  enabled: false

###################################################################################################

grafana:
  ingress:
    tls:
      - hosts:    [ grafana.monitoring.sandpit.fkaj.com ]
        secretName: grafana.monitoring.sandpit.fkaj.com
    hosts:        [ grafana.monitoring.sandpit.fkaj.com ]
    enabled: true
    annotations:
      external-dns/public: 'true'
      kubernetes.io/ingress.class: nginx
      certmanager.k8s.io/cluster-issuer: cluster-issuer-lets-encrypt-staging
      certmanager.k8s.io/acme-challenge-type: dns01
      certmanager.k8s.io/acme-dns01-provider: route53
      external-dns.alpha.kubernetes.io/hostname: grafana.monitoring.sandpit.fkaj.com.
  plugins:
    - grafana-clock-panel
    - vonage-status-panel
    - briangann-gauge-panel
    - grafana-kubernetes-app
    - grafana-piechart-panel
    - grafana-polystat-panel
    - grafana-worldmap-panel
    - snuids-trafficlights-panel
  # sidecar:
  #   resources:
  #     requests:
  #       cpu: 1m
  #       memory: 150Mi
  #     limits:
  #       cpu: 10m
  #       memory: 150Mi
  adminUser: devops
  resources:
    requests:
      cpu: 100m
      memory: 750Mi
    limits:
      cpu: 250m
      memory: 750Mi
  persistence:
    size: 10Gi
    enabled: true
    accessModes: [ ReadWriteOnce ]
    storageClassName: standard
  adminPassword:
  defaultDashboardsEnabled: true

###################################################################################################

kubeDns:
  enabled: true

###################################################################################################

kubeEtcd:
  enabled: false

###################################################################################################

prometheus:
  ingress:
    tls:
      - hosts:    [ prometheus.monitoring.sandpit.fkaj.com ]
        secretName: prometheus.monitoring.sandpit.fkaj.com
    hosts:        [ prometheus.monitoring.sandpit.fkaj.com ]
    enabled: true
    annotations:
      external-dns/public: 'true'
      kubernetes.io/ingress.class: nginx
      certmanager.k8s.io/cluster-issuer: cluster-issuer-lets-encrypt-staging
      certmanager.k8s.io/acme-challenge-type: dns01
      certmanager.k8s.io/acme-dns01-provider: route53
      external-dns.alpha.kubernetes.io/hostname: prometheus.monitoring.sandpit.fkaj.com.
  prometheusSpec:
    replicas: 2
    resources:
      requests:
        cpu: 250m
        memory: 1250Mi
      limits:
        cpu: 500m
        memory: 1250Mi
    retention: 10d
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: standard
          accessModes: [ ReadWriteOnce ]
          resources:
            requests:
              storage: 50Gi
    scrapeInterval: 15s
    podAntiAffinity: soft
    evaluationInterval: 15s
    podDisruptionBudget:
      enabled: true
      maxUnavailable: 1
    serviceMonitorSelector:
      prometheus: local

###################################################################################################

alertmanager:
  ingress:
    tls:
      - hosts:    [ alertmanager.monitoring.sandpit.fkaj.com ]
        secretName: alertmanager.monitoring.sandpit.fkaj.com
    hosts:        [ alertmanager.monitoring.sandpit.fkaj.com ]
    enabled: true
    annotations:
      external-dns/public: 'true'
      kubernetes.io/ingress.class: nginx
      certmanager.k8s.io/cluster-issuer: cluster-issuer-lets-encrypt-staging
      certmanager.k8s.io/acme-challenge-type: dns01
      certmanager.k8s.io/acme-dns01-provider: route53
      external-dns.alpha.kubernetes.io/hostname: alertmanager.monitoring.sandpit.fkaj.com.
  alertmanagerSpec:
    replicas: 3
    resources:
      requests:
        cpu: 10m
        memory: 100Mi
      limits:
        cpu: 100m
        memory: 100Mi
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: standard
          accessModes: [ ReadWriteOnce ]
          resources:
            requests:
              storage: 10Gi
    podAntiAffinity: soft
    podDisruptionBudget:
      enabled: true
      maxUnavailable: 1

###################################################################################################

defaultRules:
  create: true

###################################################################################################

kubeScheduler:
  enabled: false

###################################################################################################

nameOverride: prometheus
fullnameOverride: prometheus

###################################################################################################

kube-state-metrics:
  resources:
    requests:
      cpu: 5m
      memory: 100Mi
    limits:
      cpu: 10m
      memory: 100Mi

###################################################################################################

prometheusOperator:
  resources:
    requests:
      cpu: 10m
      memory: 100Mi
    limits:
      cpu: 50m
      memory: 100Mi

###################################################################################################

kubeControllerManager:
  enabled: false

###################################################################################################

prometheus-node-exporter:
  resources:
    requests:
      cpu: 5m
      memory: 100Mi
    limits:
      cpu: 10m
      memory: 100Mi
  extraHostVolumeMounts:
    - name: root
      hostPath: /
      readOnly: true
      mountPath: /node/root

###################################################################################################
