---
###################################################################################################

kind: ClusterIssuer
apiVersion: {{.Env.CUSTOM_RESOURCE_DEFINITION_NAME}}/{{.Env.CUSTOM_RESOURCE_DEFINITION_VERSION}}
metadata:
  name: cluster-issuer-lets-encrypt-staging
spec:
  acme:
    email: {{.Env.CLUSTER_ISSUER_EMAIL}}
    server: https://acme-staging-{{.Env.CLUSTER_ISSUER_ACME_VERSION}}.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: cluster-issuer-lets-encrypt-staging
    dns01:
      providers:
        - name: route53
          route53:
            region: {{.Env.CLUSTER_ISSUER_AWS_REGION}}
            accessKeyID: {{.Env.CLUSTER_ISSUER_AWS_ACCESS_KEY}}
            secretAccessKeySecretRef:
              name: cert-manager
              key: aws_secret_key

###################################################################################################
...
