#!/bin/bash -e
set -o pipefail
[[ -n "${DEBUG}" ]] && set -x

###################################################################################################

BASE="$(dirname "${BASH_SOURCE[0]}")"

###################################################################################################

helm upgrade '{{.Env.RELEASE}}' '{{.Env.REPO}}/{{.Env.CHART}}' --install --debug --wait --namespace '{{.Env.NAMESPACE}}' --version '{{.Env.VERSION}}' --values "${BASE}/values.yaml"

###################################################################################################

kubectl apply --record=true --wait=true --filename="${BASE}/cluster-issuer-lets-encrypt-staging.yaml"
kubectl apply --record=true --wait=true --filename="${BASE}/cluster-issuer-lets-encrypt.yaml"

###################################################################################################
