#!/bin/bash
[[ -n "${DEBUG}" ]] && set -x

###################################################################################################

BASE="$(dirname "${BASH_SOURCE[0]}")"

###################################################################################################

"${BASE}/uninstall.sh"

###################################################################################################

for item in $(kubectl get customresourcedefinition --output=custom-columns=:.metadata.name | grep '{{.Env.CUSTOM_RESOURCE_DEFINITION_NAME}}'); do
  kubectl delete --wait=true customresourcedefinition "${item}"
done

###################################################################################################

exit 0

###################################################################################################
