#!/bin/bash
[[ -n "${DEBUG}" ]] && set -x

###################################################################################################

BASE="$(dirname "${BASH_SOURCE[0]}")"

###################################################################################################

kubectl delete --wait=true clusterissuers.{{.Env.CUSTOM_RESOURCE_DEFINITION_NAME}} cluster-issuer-lets-encrypt
kubectl delete --wait=true clusterissuers.{{.Env.CUSTOM_RESOURCE_DEFINITION_NAME}} cluster-issuer-lets-encrypt-staging

###################################################################################################

helm delete --purge '{{.Env.RELEASE}}'

###################################################################################################

kubectl delete --wait=true namespace '{{.Env.NAMESPACE}}'

###################################################################################################

exit 0

###################################################################################################
