#!/bin/bash
[[ -n "${DEBUG}" ]] && set -x

###################################################################################################

kubectl delete --wait=true 'clusterissuers.{{ if (has (datasource "data") "CERT_MANAGER_CUSTOM_RESOURCE_DEFINITION_NAME") }}{{ (datasource "data").CERT_MANAGER_CUSTOM_RESOURCE_DEFINITION_NAME }}{{ else }}{{ .Env.CERT_MANAGER_CUSTOM_RESOURCE_DEFINITION_NAME }}{{ end }}' cluster-issuer-lets-encrypt
kubectl delete --wait=true 'clusterissuers.{{ if (has (datasource "data") "CERT_MANAGER_CUSTOM_RESOURCE_DEFINITION_NAME") }}{{ (datasource "data").CERT_MANAGER_CUSTOM_RESOURCE_DEFINITION_NAME }}{{ else }}{{ .Env.CERT_MANAGER_CUSTOM_RESOURCE_DEFINITION_NAME }}{{ end }}' cluster-issuer-lets-encrypt-staging

###################################################################################################

helm delete --purge '{{ if (has (datasource "data") "CERT_MANAGER_RELEASE") }}{{ (datasource "data").CERT_MANAGER_RELEASE }}{{ else }}{{ .Env.CERT_MANAGER_RELEASE }}{{ end }}'

###################################################################################################

kubectl delete --wait=true 'namespace/{{ if (has (datasource "data") "CERT_MANAGER_NAMESPACE") }}{{ (datasource "data").CERT_MANAGER_NAMESPACE }}{{ else }}{{ .Env.CERT_MANAGER_NAMESPACE }}{{ end }}'

###################################################################################################

exit 0

###################################################################################################
