---
###################################################################################################

resources:
  requests:
    cpu: {{.Env.CERT_MANAGER_RESOURCE_CPU}}
    memory: {{.Env.CERT_MANAGER_RESOURCE_MEMORY}}
  limits:
    cpu: {{.Env.CERT_MANAGER_RESOURCE_CPU}}
    memory: {{.Env.CERT_MANAGER_RESOURCE_MEMORY}}

###################################################################################################

ingressShim:
  defaultIssuerKind: ClusterIssuer
  defaultIssuerName: cluster-issuer-lets-encrypt-staging

###################################################################################################

podDnsPolicy: None
podDnsConfig:
  nameservers:
    - {{.Env.CERT_MANAGER_DNS_NAMESERVER_1}}
    - {{.Env.CERT_MANAGER_DNS_NAMESERVER_2}}

###################################################################################################

replicaCount: {{.Env.CERT_MANAGER_REPLICA_COUNT}}

###################################################################################################
...
