---
###################################################################################################

kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ if (has (datasource "data") "HELM_NAME") }}{{ (datasource "data").HELM_NAME }}{{ else }}{{ .Env.HELM_NAME }}{{ end }}
  namespace: {{ if (has (datasource "data") "HELM_NAMESPACE") }}{{ (datasource "data").HELM_NAMESPACE }}{{ else }}{{ .Env.HELM_NAMESPACE }}{{ end }}
roleRef:
  kind: ClusterRole
  name: cluster-admin
  apiGroup: rbac.authorization.k8s.io
subjects:
  - name: {{ if (has (datasource "data") "HELM_NAME") }}{{ (datasource "data").HELM_NAME }}{{ else }}{{ .Env.HELM_NAME }}{{ end }}
    kind: ServiceAccount
    namespace: {{ if (has (datasource "data") "HELM_NAMESPACE") }}{{ (datasource "data").HELM_NAMESPACE }}{{ else }}{{ .Env.HELM_NAMESPACE }}{{ end }}

###################################################################################################
...
