---
###################################################################################################

kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: '{{.Env.HELM_NAME}}'
  namespace: '{{.Env.HELM_NAMESPACE}}'
roleRef:
  kind: '{{.Env.HELM_ROLE_REFERENCE_KIND}}'
  name: '{{.Env.HELM_ROLE_REFERENCE_NAME}}'
  apiGroup: rbac.authorization.k8s.io
subjects:
  - name: '{{.Env.HELM_NAME}}'
    kind: ServiceAccount
    namespace: '{{.Env.HELM_NAMESPACE}}'

###################################################################################################
...
