#!/bin/bash -e
set -o pipefail
[[ -n "${DEBUG}" ]] && set -x

###################################################################################################

BASE="$(dirname "${BASH_SOURCE[0]}")"

###################################################################################################

kubectl apply --record=true --wait=true --filename="${BASE}/service-account.yaml"
kubectl apply --record=true --wait=true --filename="${BASE}/cluster-role-binding.yaml"

###################################################################################################

helm init --upgrade --debug --wait --tiller-namespace '{{ if (has (datasource "data") "HELM_NAMESPACE") }}{{ (datasource "data").HELM_NAMESPACE }}{{ else }}{{ .Env.HELM_NAMESPACE }}{{ end }}' --service-account '{{ if (has (datasource "data") "HELM_NAME") }}{{ (datasource "data").HELM_NAME }}{{ else }}{{ .Env.HELM_NAME }}{{ end }}' --history-max '{{ if (has (datasource "data") "HELM_MAX_HISTORY") }}{{ (datasource "data").HELM_MAX_HISTORY }}{{ else }}{{ .Env.HELM_MAX_HISTORY }}{{ end }}' --replicas '{{ if (has (datasource "data") "HELM_REPLICAS") }}{{ (datasource "data").HELM_REPLICAS }}{{ else }}{{ .Env.HELM_REPLICAS }}{{ end }}'

###################################################################################################
