#!/bin/bash -e
set -o pipefail
[[ -n "${DEBUG}" ]] && set -x

###################################################################################################

BASE="$(dirname "${BASH_SOURCE[0]}")"

###################################################################################################

kubectl apply --record=true --wait=true --filename="${BASE}/service-account.yaml"
kubectl apply --record=true --wait=true --filename="${BASE}/cluster-role-binding.yaml"

###################################################################################################

helm init --upgrade --debug --wait --tiller-namespace '{{.Env.HELM_NAMESPACE}}' --service-account '{{.Env.HELM_NAME}}' --history-max '{{.Env.HELM_HISTORY_MAX}}' --replicas '{{.Env.HELM_REPLICAS}}'

###################################################################################################
