---
###################################################################################################

kind: ServiceAccount
apiVersion: v1
metadata:
  name: {{ if (has (datasource "data") "HELM_SERVICE_ACCOUNT") }}{{ (datasource "data").HELM_SERVICE_ACCOUNT }}{{ else }}{{ .Env.HELM_SERVICE_ACCOUNT }}{{ end }}
  namespace: {{ if (has (datasource "data") "HELM_NAMESPACE") }}{{ (datasource "data").HELM_NAMESPACE }}{{ else }}{{ .Env.HELM_NAMESPACE }}{{ end }}

###################################################################################################
...
