---
###################################################################################################

kind: ServiceAccount
apiVersion: v1
metadata:
  name: '{{.Env.NAME}}'
  namespace: '{{.Env.NAMESPACE}}'

###################################################################################################
...
