#!/bin/bash
[[ -n "${DEBUG}" ]] && set -x

###################################################################################################

BASE="$(dirname "${BASH_SOURCE[0]}")"

###################################################################################################

kubectl delete --wait=true --namespace '{{ if (has (datasource "data") "HELM_NAMESPACE") }}{{ (datasource "data").HELM_NAMESPACE }}{{ else }}{{ .Env.HELM_NAMESPACE }}{{ end }}' service/tiller-deploy
kubectl delete --wait=true --namespace '{{ if (has (datasource "data") "HELM_NAMESPACE") }}{{ (datasource "data").HELM_NAMESPACE }}{{ else }}{{ .Env.HELM_NAMESPACE }}{{ end }}' deployment/tiller-deploy

###################################################################################################

helm reset --debug

###################################################################################################

kubectl delete --wait=true --filename="${BASE}/cluster-role-binding.yaml"
kubectl delete --wait=true --filename="${BASE}/service-account.yaml"

###################################################################################################

exit 0

###################################################################################################
